# Dependencias de Node (se instalan con npm install)
node_modules/

# Evidencias generadas por Cypress
cypress-tests/cypress/screenshots/
cypress-tests/cypress/videos/

# Archivos de sistema
.DS_Store
Thumbs.db